<a href="/todos/new" class="fs-4 m-3">Create</a>

<ol>
    {{#each todos as |todo|}}
    <li class="d-flex">
        <span class="col-sm-1">{{this.name}}</span>
        <a href="/todos/{{this.id}}" class="ms-4">detail</a>
    </li>
    {{/each}}
</ol>