* {
    box-sizing: border-box;
}


.container-all {
    position: relative;
    right: 10vw;
    min-width: 20vw;
    max-width: 60vw;
}


.page {
    padding: 5px; 
    width: 3em;
}

.logout-place {
    position: relative;
    left: 16vw;
}

.logout-edit-place {
    position: relative;
    left: 23.5vw;
}

